
 body {
  margin: 0;
  padding-top: 80px; /* pushes content below header */
  font-family: Roboto, Arial;
}

.grid-video {
  padding: 20px;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap: 40px  16px;

}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-right: 0px;
}
.absolute {

}
.video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding-top: 13px;
}

.channel-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.video-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 4% 0;
}

.video-author, .video-stats {
  font-size: 14px;
  color: rgb(96,96,96);
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
}